openapi: 3.0.3
info:
  title: Dokumen API Cloud Function - OpenAPI 3.0
  description: |-
    Ini adalah contoh dokumentasi API menggunakan OpenAPI 3.0 dan Swagger UI. Disini dibuatkan dokumentasi API untuk aplikasi Mytodolist yang dibuat menggunakan Go-lang dan Cloud Function.

    Untuk informasi lebih lanjut, kunjungi website kami di [Website Mytodolist](https://mytodolist1.github.io/).

  termsOfService: https://github.com/mytodolist1/swagger
  contact:
    email: dirgafebrian45@gmail.com
  license:
    name: Mytodolist Package
    url: https://pkg.go.dev/github.com/mytodolist1/be_p3
  version: 0.0.9
externalDocs:
  description: Repo GCF
  url: https://mytodolist1.github.io/cloudfunction_todo/
servers:
  - url: https://asia-southeast2-mytodolist-402507.cloudfunctions.net/
tags:
  - name: user
    description: Data User
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://mytodolist1.github.io/cloudfunction_todo/GET/
  - name: auth
    description: Auth to Access to API
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://mytodolist1.github.io/cloudfunction_todo/post-login/
  - name: todo
    description: Data Todo

paths:
  /mytodolist-GetUserByUsername/{username}:
    get:
      tags:
        - user
      summary: Get user by user name
      description: ''
      operationId: getUserByName
      parameters:
        - name: username
          in: path
          description: 'The name that needs to be fetched. Use user1 for testing. '
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'          
        '400':
          description: Invalid username supplied
        '404':
          description: User not found

  /mytodolist-register:
    post:
      tags:
        - user
      summary: Register User
      description: Register User
      operationId: Register
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '405':
          description: Invalid input

  /mytodolist-login:
    post:
      tags:
        - auth
      summary: Login get Token
      description: Login and Get User Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '405':
          description: Invalid input
      security:
        - token:
            - write:apiKey
            - read:apiKey

  /mytodolist-post/todo:
    post:
      tags:
        - todo
      summary: Post Todo
      description: Insert Todo
      operationId: InsertTodo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Todo'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '405':
          description: Invalid input
      security:
        - token:
            - write:apiKey
            - read:apiKey
components:
  schemas:
    User:
      type: object
      properties:
        email:
          type: string
        username:
          type: string
        password:
          type: string
        role:
          type: string

    UserResponse:
      type: object
      properties:
        status:
          type: bool
          example: false
        message:
          type: string
          example: fehguy
        data:
          type: object
          properties:
            email:
              type: string
            username:
              type: string
            password:
              type: string
            role:
              type: string

    Todo:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        isdone:
          type: bool
          example: true

    Auth:
      type: object
      properties:
        username:
          type: string
          example: budiman
        password:
          type: string
          example: secret

    AuthResponse:
      type: object
      properties:
        status:
          type: bool
          example: false
        message:
          type: string
          example: fehguy
        token:
          type: string
          example: fehguy

  requestBodies:
    AuthReq:
      description: Request Authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Auth'

    UserArray:
      description: List of user object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuthResponse'

  securitySchemes:
    token:
      type: apiKey
      name: token
      in: header