openapi: 3.0.3
info:
  title: Dokumen API Cloud Function - OpenAPI 3.0
  description: |-
    Ini adalah contoh dokumentasi API menggunakan OpenAPI 3.0 dan Swagger UI. Disini dibuatkan dokumentasi API untuk aplikasi Mytodolist yang dibuat menggunakan Go-lang dan Cloud Function.

    Untuk informasi lebih lanjut, kunjungi website kami di [Website Mytodolist](https://mytodolist1.github.io/).

  termsOfService: https://github.com/mytodolist1/swagger
  contact:
    email: dirgafebrian45@gmail.com
  license:
    name: Mytodolist Package
    url: https://pkg.go.dev/github.com/mytodolist1/be_p3
  version: 0.2.902
externalDocs:
  description: Repo GCF
  url: https://mytodolist1.github.io/cloudfunction_todo/
servers:
  - url: https://asia-southeast2-mytodolist-402507.cloudfunctions.net
tags:
  - name: User
    description: Data User
  - name: Auth
    description: Auth to Access to API
  - name: Todo
    description: Data Todosers

paths:
  /mytodolist:
    get:
      tags:
        - User
      summary: Get All User
      description: Get semua user
      operationId: getAllUser
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /mytodolist-GetUserByUsername:
    get:
      tags:
        - User
      summary: Get user
      description: Get user berdasarkan username
      operationId: getUserByUsername
      parameters:
        - name: username
          in: query
          description: 'Masukkan username yang terdaftar.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /mytodolist-register:
    post:
      tags:
        - User
      summary: Register User
      description: Register User
      operationId: registerUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '405':
          description: Invalid input

  /mytodolist-updateUser:
    put:
      tags:
        - User
      summary: Update User
      description: Update User
      operationId: updateUser
      parameters:
        - name: _id
          in: query
          description: 'Masukkan ID user yang ingin di update.'
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUser'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '405':
          description: Invalid input
      security:
        - token:
            - write: apiKey
            - read: apiKey

  /mytodolist-changepass:
    put:
      tags:
        - User
      summary: Change Password
      description: Change Password
      operationId: changePassword
      parameters:
        - name: username
          in: query
          description: 'Masukkan username user yang ingin di ganti passwordnya.'
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePassUser'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '405':
          description: Invalid input
      security:
        - token:
            - write: apiKey
            - read: apiKey

  /mytodolist-deleteuser:
    delete:
      tags:
        - User
      summary: Delete User
      description: Delete User
      operationId: deleteUser
      parameters:
        - name: username
          in: query
          description: 'Masukkan username user yang ingin di hapus.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '405':
          description: Invalid input
      security:
        - token:
            - write: apiKey
            - read: apiKey

  /mytodolist-login:
    post:
      tags:
        - Auth
      summary: Login get Token
      description: Login and Get User Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '405':
          description: Invalid input
      security:
        - token:
            - write: apiKey
            - read: apiKey

  /mytodolist-insertTodo:
    post:
      tags:
        - Todo
      summary: Post Todo
      description: Insert Todo
      operationId: InsertTodo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Todo'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '405':
          description: Invalid input
      security:
        - token:
            - write: apiKey
            - read: apiKey

  /mytodolist-getTodo:
    get:
      tags:
        - Todo
      summary: Get All Todo
      description: Get semua Data
      operationId: getTodo
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Todo'
      security:
        - token:
            - write: apiKey
            - read: apiKey

  /mytodolist-getTodoByID:
    get:
      tags:
        - Todo
      summary: Get Todo
      description: Get todo berdasarkan ID
      operationId: getTodoByID
      parameters:
        - name: _id
          in: query
          description: 'Masukkan _id yang terdaftar.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Todo'
      security:
        - token:
            - write: apiKey
            - read: apiKey

    /mytodolist-updateTodo:
    put:
      tags:
        - Todo
      summary: Update User
      description: Update User
      operationId: updateUser
      parameters:
        - name: _id
          in: query
          description: 'Masukkan ID user yang ingin di update.'
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Todo'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TodoResponse'
        '405':
          description: Invalid input
      security:
        - token:
            - write: apiKey
            - read: apiKey

  /mytodolist_deleteTodo:
    delete:
      tags:
        - Todo
      summary: Delete User
      description: Delete User
      operationId: deleteUser
      parameters:
        - name: _id
          in: query
          description: 'Masukkan ID yang ingin di hapus.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TodoResponse'
        '405':
          description: Invalid input
      security:
        - token:
            - write: apiKey
            - read: apiKey

components:
  schemas:
    User:
      type: object
      properties:
        email:
          type: string
          example: tejoko@gmail.com
        username:
          type: string
          example: tejoko
        password:
          type: string
          example: secret
        role:
          type: string
          example: user

    UpdateUser:
      type: object
      properties:
        email:
          type: string
          example: tejoko@gmail.com
        username:
          type: string
          example: tejoko

    ChangePassUser:
      type: object
      properties:
        password:
          type: string
          example: secret
        confirmpassword:
          type: string
          example: secret

    UserResponse:
      type: object
      properties:
        status:
          type: bool
          example: false
        message:
          type: string
          example: fehguy
        data:
          type: object
          properties:
            email:
              type: string
            username:
              type: string
            password:
              type: string
            role:
              type: string
              example: user

    Todo:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        deadline:
          type: string
          example: 02/02/2021
        isdone:
          type: bool
          example: false

    TodoResponse:
      type: object
      properties:
        status:
          type: bool
          example: true
        message:
          type: string
          example: fehguy
        data:
          type: object
          properties:
            id:
              type: string
            title:
              type: string
            description:
              type: string
            deadline:
              type: string
              example: 02/02/2021
            isdone:
              type: bool
              example: false

    Auth:
      type: object
      properties:
        username:
          type: string
          example: budiman
        password:
          type: string
          example: secret

    AuthResponse:
      type: object
      properties:
        status:
          type: bool
          example: false
        message:
          type: string
          example: fehguy
        token:
          type: string
          example: fehguy

  requestBodies:
    AuthReq:
      description: Request Authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Auth'

    UserArray:
      description: List of user object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuthResponse'

  securitySchemes:
    token:
      type: apiKey
      name: token
      in: header